body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.contenedor {
    text-align: center;
}

.fila {
    display: flex;
}

.carta {
    width: 20vh; /* Ajustado al 30% del ancho de la pantalla */
    height: 30vh; /* Ajustado al 40% de la altura de la pantalla */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signo {
    font-size: 6vw; /* Ajustado al 6% del ancho de la pantalla */
    font-weight: bold;
    color: #333;
}
